// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700');

$main-font: 'Hind', sans-serif;

* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #444;
    font-family: $main-font;
}
