.PostSnippet {
    width: 100%;
    padding: 15px;
    padding-bottom: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    margin: 15px 7px;
    color: #fff;
    text-shadow: 0 1px 4px #000;

    @media all and (min-width: 768px) {
        width: calc(50% - 30px);
        padding-bottom: 50%;
    }

    &:hover,
    &:focus {
        box-shadow: 0 8px 20px -3px rgba(0, 0, 0, .6);
        transform: translateY(-2px);
    }

    &-date {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 12px;
    }

    &-title {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 10px;
        font-size: 24px;
        text-decoration: none;
        font-weight: 400;

        @media all and (min-width: 768px) {
            font-size: 18px;
        }

        @media all and (min-width: 1170px) {
            font-size: 22px;
        }

        @media all and (min-width: 1400px) {
            font-size: 26px;
        }
    }
}

.reading-mode .PostSnippet {

    @media all and (min-width: 768px) {
        width: calc(50% - 30px);
    }

    @media all and (min-width: 1170px) {
        width: calc(33% - 30px);
        padding-bottom: 30%;
    }

    @media all and (min-width: 1400px) {
        width: calc(25% - 30px);
        padding-bottom: 22%;
    }
}
