.PostDetail {
    width: 100%;
    padding: 20px;
    padding-bottom: 170px;
    min-height: 100vh;

    @media all and (min-width: 786px) {
        padding: 40px;
        padding-bottom: 170px;
        width: 50%;
        position: absolute;
        right: 0;

        &.reading-mode {
            width: 100%;
        }
    }

    &-post-container {
        max-width: 600px;
        margin: auto;
    }

    &-title {
        font-size: 32px;
        text-align: center;
    }

    &-content {
        margin: 20px 0;
    }
}

.PostDetail.reading-mode {

}

.PostDetail .edit-btn,
.PostDetail .delete-btn {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 7px 12px;
    line-height: 1;
    background-color: #eee;
    border: 2px solid #333;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.PostDetail .delete-btn {
    background-color: rgba(255, 20, 0, .3);
    margin-left: 10px;
}
