.PostDetail {
    width: 100%;
    padding: 20px;
    padding-bottom: 170px;
    min-height: 100vh;

    @media all and (min-width: 786px) {
        padding: 40px;
        padding-bottom: 170px;
        width: 50%;
        position: absolute;
        right: 0;

        &.reading-mode {
            width: 100%;
        }
    }

    &-tags {
        background-color: rgba(85, 187, 255, .8);
        display: inline-block;
        padding: 4px 8px;
        margin: 0;
        border-radius: 15px;
    }

    &-content {
        margin: 20px 0;
    }
}

.PostDetail.reading-mode {
    padding-left: 80px;
    padding-right: 80px;
}
