.RightPage {
    width: 100%;
    padding: 20px;
    padding-bottom: 170px;
    min-height: 100vh;

    @media all and (min-width: 786px) {
        padding: 40px;
        padding-bottom: 170px;
        width: 50%;
        position: absolute;
        right: 0;

        &.reading-mode {
            width: 100%;
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}
