.PostDetail {
    width: 100%;

    &-post-container {
        max-width: 600px;
        margin: auto;
        line-height: 1.5;

        p, a, li {
            font-size: 18px;
        }
    }

    &-title {
        font-size: 38px;
        text-align: center;
    }
}

.PostDetail .edit-btn,
.PostDetail .delete-btn {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 7px 12px;
    line-height: 1;
    background-color: #eee;
    border: 2px solid #333;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.PostDetail .delete-btn {
    background-color: rgba(255, 20, 0, .3);
    margin-left: 10px;
}

.reading-mode .PostDetail {

    .PostDetail-post-container {
        max-width: 800px;
        margin: auto;
        line-height: 1.5;

        p, a, li {
            font-size: 22px;
        }
    }

    .PostDetail-title {
        font-size: 54px;
        text-align: center;
    }
}
